<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css"> 
</head>

<body class ="flex-column min-100-vh">
  <nav class="navbar">
     <ul>
        <li class="li-inline nav-item">
          <a href="/">Home</a>
        </li>
        <li class="li-inline nav-item">
          <a href="/dashboard">Dashboard</a>
        </li>
        <li class="li-inline nav-item">
          {{#if logged_in}}
          <a href="/" id="logout">Logout [{{username}}]</a>
          {{else}}
          <a class="li-inline nav-link" href="/login">Login</a>
          {{/if}}
        </li>
     </ul>
  </nav> 

  <header class ="hero">
  {{!-- a widely adopted CSS naming practice is to use hero as the class name applied to a site's main banner --}}
    <h1 class="header">The Tech Blog</h1>
  </header>

  <main class ="col-auto">
    {{{ body }}}
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

</body>

</html>