<div class="card">
  <h3 class="card-header">Create New Post</h3>
  <form class="card-body" id="add-post-form">
    <input type="hidden" name="post-id" value="{{post.id}}"/>

    <div>
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-input" />
    </div>

    <div>
        <label class="form-label" for="content">Content</label>
        <input id="content" name="content" class="form-input" />
    </div>

    <button class="btn btn-primary">Create</button>
  </form>
</div>

<script src="/js/add-post.js"></script>